.spdf-font {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
}


/* ================================ Notify Container =============================== */
#spdf-notify-container {
    display: none;
    flex-direction: column;
    align-items: center;
    max-height: 95vh;
    
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 99999999;

    border-radius: 1ch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#spdf-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 32ch;
    padding: 1ch;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Floating effect */
    background: white;
    backdrop-filter: blur(20px);
    border-radius: 1ch;
    border: 1px solid rgba(255, 255, 255, 0.1);

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#spdf-content-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#spdf-content-container > * {
  margin-top: 1ch;
  margin-bottom: 1ch;
}

#spdf-header-text {
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* =================================== Icons =================================== */
#spdf-icon {
    display: flex;
    margin-right: 1.5ch;
}

/* Checkmark Icon */
#spdf-checkmark {
    display: none;
    transform: rotate(45deg);
    height: 2ch;
    width: 2ch;
    margin-left: 60%; 
    margin-bottom: 0.5ch;
    border-bottom: 0.2ch solid #78b13f;
    border-right: 0.2ch solid #78b13f;
}

/* Cross Icon */
/* Link: https://stackoverflow.com/questions/18611195/x-close-button-only-using-css */
#spdf-cross {
    display: none;
    width: 1ch;
    height: 2ch;
    margin-left: 1.5ch;
    margin-bottom: 0.6ch;
}
#spdf-cross:before, #spdf-cross:after {
    position: absolute;
    content: ' ';
    height: 2.5ch;
    width: 0.2ch;
    background-color: red;
}
#spdf-cross:before {
    transform: rotate(45deg);
}
#spdf-cross:after {
    transform: rotate(-45deg);
}

/* Spinner Icon */
/* Link: https://loading.io/css/ */
#spdf-spinner,
#spdf-spinner div {
  box-sizing: border-box;
}
#spdf-spinner {
  display: none;
  position: relative;
  width: 2ch;
  height: 2ch;
}
#spdf-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2ch;
  height: 2ch;
  border: 2px solid black;
  border-radius: 50%;
  animation: spdf-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
#spdf-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
#spdf-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
#spdf-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spdf-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ================================== Warning ================================== */
#spdf-warning-container {
    display: none;
    background-color: #F8F4D5;
    border-radius: 1ch;
    border-top: 1ch;
    padding: 1ch;
    width: 30ch;
    border: 2px solid #96722E;
}

#spdf-warning-header {
    font-weight: bold;
    color: #96722E;
    margin: 0ch 0ch 5px 0ch;
    line-height: 1.2;
}

#spdf-warning-text {
    text-align: left;
    color: #96722E;
    margin: 0ch 0ch 0px 0ch;
}

/* ================================== Details ================================== */
#spdf-details-container {
    display: none;
    border-radius: 1ch;
    border-top: 1ch;
    padding: 1ch;
    width: 30ch;
}

.spdf-details-container-error {
    background-color: #FEE;
    border: 2px solid #EDD;
    color: #A66;
}


/* =================================== Image =================================== */
#spdf-image {
    display: none;
    width: 30ch;
    object-fit: cover;
    margin-left: 1ch;
    margin-right: 1ch;

    border-radius: 1ch;
}
