:root {
    --btn-faded: #8ca2cc;
    --btn-hover: #002d88;
    --btn-default: #2450a7;
}

/* =================== Global Style ================== */
html, body {
    width: 200px;
}

button {
    width: 32px;
    height: 32px;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    background-color: var(--btn-default);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: var(--btn-hover);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
}

.hidden {
    display: none;
}

.icon {
    height: 100%;
}

/* =================== Control Bar =================== */
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#button-container > button {
    background-color: var(--btn-faded);
    flex-grow: 0.4;
}

#button-container > .selected {
    background-color: var(--btn-default);
}

#button-container > button:hover {
    background-color: var(--btn-hover);
}


/* ================= Merge Container ================= */
#merge-page-container {
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 8px;
    margin-bottom: 2px;
    overflow-x: hidden;
    overflow-y: auto;
}

#no-pages {
    color: rgb(129, 129, 129);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.merge-page {
    box-sizing: border-box;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    width: 100%;

    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.merge-page:last-child { 
    border-bottom: none; 
}

#merge-container > p {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 7px;
    color: grey;
}

#merge-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* ------------ Cancel Button ------------ */
#btn-merge-cancel > span {
    display: none;
    font-size: 16px;
}

#btn-merge-cancel {
    background-color: #8f0000;
}

#btn-merge-cancel:hover {
    background-color: #c00000;
}

/* ------------ Create Button ------------ */
#btn-merge-create {
    flex-grow: 1;
    margin-left: 5px;
}

#btn-merge-create-load,
#btn-merge-create-load div {
  box-sizing: border-box;
}
#btn-merge-create-load {
  display: none;
  position: relative;
  width: 70px;
  height: 16px;
}
#btn-merge-create-load div {
  position: absolute;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
#btn-merge-create-load div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
#btn-merge-create-load div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
#btn-merge-create-load div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
#btn-merge-create-load div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

